* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgb(238, 232, 232);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.nav-icons {
  display: flex;
  /* gap: 50px; */
  width: 100%;
}
.a {
  padding-left: 20px;
}
.cancel img {
  padding-right: 20px;
}
.b {
  padding-left: 350px;
  padding-top: 10px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.c {
  padding-left: 20px;
  padding-top: 10px;
  /* align-self: center; */
}
.d {
  padding-left: 20px;
  padding-top: 10px;
}
.e {
  padding-left: 10px;
  padding-top: 10px;
}
.f {
  padding-left: 10px;
  padding-top: 10px;
}
.logo-bar {
  background-color: green;
  display: flex;
  direction: ltr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140px;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin-left: 760px;
}
.logo {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  /* z-index: 4; */
  position: relative;
}
.g {
  gap: 20px;
  display: flex;
  width: 100%;
}
.g img {
  padding-left: 120px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.logo-links {
  color: black;
  display: flex;
  gap: 30px;
  flex-direction: row;
  direction: rtl;
}
.h {
  margin-top: 80px;
  margin-right: 50px;
}
.i {
  margin-top: 80px;
  /* margin-right: 10px; */
}
.m {
  margin-top: 80px;
  margin-left: 500px;
}
.k {
  margin-top: 80px;
  /* margin-right: 700px; */
}
.j {
  margin-top: 80px;
}
.first {
  margin-top: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  margin-left: 200%;
}
/* .robo1 {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
} */
.robo1-img {
  /* margin-left: 900px; */
  width: 100%;
  padding-right: 100px;
  z-index: 3;
  margin-right: 300px;
}
.circle {
  /* direction: ltr; */
  /* width: 50px; */
  height: 50px;
  left: 400px;
}
.circle-img {
  position: absolute;
  top: -70px;
  left: 1000px;
  height: 100px;
  margin-left: -800px;
  /* width: 100px; */
}
