* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

 /* @media media-type and (condition: breakpoint or value {css rules} */

 /* media-type {
  all, print, screen, speech, tv
 } */

/* condition {
width, height, orientation, aspect-ratio, device-width, device-height, resolution,scan,grid} */

/* breakpoint {min-width, max-width, min-height, max-height} */

/* value {min-width, max-width, min-height, max-height} */

body {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background-color: #475571;
  color: rgb(29, 19, 19);
  background-image: radial-gradient(whitesmoke, #4755);
  display: flex;
  flex-direction: column;
}

header,
nav,
main,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color: #475569;
  color: whitesmoke;
}

nav {
  background-color: #fff;
  color: #000;
  padding: 0.3rem;
  border-bottom: 2px solid #000;
}

header {
  top: 0;
}

main {
  flex-grow: 1;
}

footer {
  bottom: 0;
}

/* || SMALL: max-width: 576px */
@media screen and (max-width: 576px) {
  body {
    background-color: green;
    background-image: radial-gradient(whitesmoke, green);
  }
  nav {
    display: none;
  }
}

/* || MEDIUM: min-width: 768px */
@media screen and (min-width: 768px) {
  body {
    background-color: blue;
    background-image: radial-gradient(whitesmoke, blue);
  }
}

/* LARGE: min-width: 992px */
@media screen and (min-width: 992px) {
  body {
    background-color: maroon;
    background-image: radial-gradient(whitesmoke, maroon);
  }
}

/* XLARGE: min-width: 1200px */
@media screen and (min-width: 1200px) {
  body {
    background-color: black;
    background-image: radial-gradient(whitesmoke, gold);
    color: #475571;
  }
}

